.app {
  min-height: 10px;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  border: none;
  width: 500px;
  padding: 10px;
  
  
}
.search-button{
  margin-left: 5px;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  color: black;
  border: none;
  padding:10px 20px ;
}
.recipies{
  display: flex;
  justify-content: space-around;
  flex-wrap:wrap;
  
  
}
.single_page{
  display: flex;
  background-color: rgba(230, 222, 222, 0.788);
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 15px;
  flex-wrap: wrap;
  -webkit-box-shadow: -4px 0px 42px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: -4px 0px 42px 0px rgba(0,0,0,0.37);
  box-shadow: -4px 0px 42px 0px rgba(0,0,0,0.37);
  border-radius: 60px 60px 60px 60px;
  -moz-border-radius: 60px 60px 60px 60px;
  -webkit-border-radius: 60px 60px 60px 60px;

}

header{
  display:flex;
  justify-content: space-between;
  padding: 30px 10%;
}
header img{
  height: 70px;
}

header .img{
  cursor: pointer;
}
.linki{
  
  align-items: center;
  width: 350px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.linki li {
  
  padding: 0px 20;
  
  
}
.linki li a {
  transition: all 0.3s ease;
}

.linki li a:hover {
  color: #0088a9
}



.zdjecie img{
  width: 100%;
  height: auto;
  -webkit-box-shadow: -4px 0px 42px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: -4px 0px 42px 0px rgba(0,0,0,0.37);
  box-shadow: -4px 0px 42px 0px rgba(0,0,0,0.37);
  border-radius: 100px 100px 100px 100px;
  -moz-border-radius: 60px 60px 60px 60px;
  -webkit-border-radius: 60px 60px 60px 60px;
  
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}


@media screen and (max-width: 1350px){
  .single_page {
    width: 49%;
  }
  .search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
}

@media screen and (max-width: 900px) {
  .single_page {
    width: 70%;
  }
  .search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
  }
}

.linki a, .linki li {
  text-decoration: none;
  color:#edf0f1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.image{
  border-radius: 150px;
  height: 35%;
}
ul li {
  list-style-position: inside;
}


footer {
  width: 100%;
  height: 5%;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}



